body{
	background-image:url("nurse.jpg");
	background-repeat: no repeat;
	background-position: 100px 500px;
}
span{
color:red;
}

h2{
	text-align:center;
	border-radius:10px 10px 0 0;
	margin:-10px -40px;
	padding:15px
}
#doctorlogin{
	margin:auto;
	width:450px;
	border-radius:10px;
	border:2px solid grey;
	padding:10px 40px 25px;
	background-color:green;
	margin-top: 250px;
}
input[type=text], input[type=password]{
	width:96.5%;
	padding:10px;
	margin-top:8px;
	border:1px solid;
	padding-left:5px;
	font-size:20px;
}

	
